django==2.2.13
django-admin-list-filter-dropdown==1.0.3
django-admin-select2==1.0.1
django-countries==6.1.2
djangorestframework==3.11.0
django-cors-headers==3.2.1
lxml==4.5.0
Pillow==8.1.1
psycopg2==2.7.7
pytz==2019.3
inflect==4.1.0
requests==2.23.0
django-admin-autocomplete-filter==0.4
sentry-sdk==0.17.6
