Django==2.0.9
django-admin-list-filter-dropdown==1.0.2
django-admin-select2==1.0.1
django-countries==5.3.2
djangorestframework==3.9.0
django-cors-headers==2.4.0
lxml==4.2.5
Pillow==5.3.0
psycopg2==2.7.6.1
pytz==2018.7
inflect=2.1.0