{% extends "admin/base_site.html" %}

{% block content %}
<form action="" method="post">
    {% csrf_token %}
    <table>
        <thead>
        <tr>
            <th colspan="4">Driver Info</th>
            <th colspan="4">Race Penalties</th>
            <th colspan="5">Qualifying Penalties</th>
        </tr>
        <tr>
            <th>Driver</th>
            <th>Position</th>
            <th>Time</th>
            <th>PP</th>
            <th>Time</th>
            <th>Pos</th>
            <th>DSQ</th>
            <th>Desc</th>
            <th>Grid</th>
            <th>BOG</th>
            <th>SFP</th>
            <th>DSQ</th>
            <th>Desc</th>
        </tr>
        </thead>
        <tbody>
    {% for result in results %}
        <tr>
            <td>{{ result.driver.name }}</td>
            <td><input type="text" name="position-{{ result.id }}" value="{{ result.position }}" size="2"/></td>
            <td><input type="text" name="race-time-{{ result.id }}" value="{{ result.race_time }}" size="8"/></td>
            <td><input type="text" name="pen-pts-{{ result.id }}" value="{{ result.penalty_points }}" size="3"/></td>
            <td><input type="text" name="pen-time-{{ result.id }}" value="{{ result.race_penalty_time }}" size="2"/></td>
            <td><input type="text" name="pen-pos-{{ result.id }}" value="{{ result.race_penalty_positions }}" size="2"/></td>
            <td><input type="checkbox" name="pen-dsq-{{ result.id }}" {% if result.race_penalty_dsq %}checked="checked"{% endif %}/></td>
            <td><input type="text" name="pen-desc-{{ result.id }}" value="{{ result.race_penalty_description }}"/></td>
            <td><input type="text" name="qpen-grid-{{ result.id }}" value="{{ result.qualifying_penalty_grid }}" size="2"/></td>
            <td><input type="checkbox" name="qpen-bog-{{ result.id }}" {% if result.qualifying_penalty_bog %}checked="checked"{% endif %}/></td>
            <td><input type="checkbox" name="qpen-sfp-{{ result.id }}" {% if result.qualifying_penalty_sfp %}checked="checked"{% endif %}/></td>
            <td><input type="checkbox" name="qpen-dsq-{{ result.id }}" {% if result.qualifying_penalty_dsq %}checked="checked"{% endif %}/></td>
            <td><input type="text" name="qpen-desc-{{ result.id }}" value="{{ result.qualifying_penalty_description }}"/></td>
        </tr>
        </tbody>
    {% endfor %}
    </table>

    <input type="hidden" name="_selected_action" value="{{ race.id }}" />
    <input type="hidden" name="action" value="apply_penalties" />
    <input type="submit" name="apply" value="Apply Penalties"/>
</form>
{% endblock %}
