{% extends 'standings/base.html' %}

{% block content %}
{% include 'standings/breadcrumb.html' with object=division.breadcrumbs %}

<div class="ui six doubling cards">
    {% for season in seasons %}
    <a class="ui raised {% if season.incomplete > 0 %}green {% else %}red {% endif %}card" href="{% url 'season_alternate' division.slug season.slug %}">
        <div class="content">
            <div class="header">
                {{ season.name }}
            </div>
            <div class="description">
                {{ season.race_count }} races{% if season.incomplete > 0 %}, {{ season.incomplete }} remaining{% endif %}
            </div>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock %}
