{% extends 'standings/base.html' %}

{% block content %}
{% include 'standings/breadcrumb.html' with object=division.breadcrumbs %}
<table class="ui small fixed compact celled table">
    <thead>
        <tr>
            <th>Name</th>
            <th class="ui center aligned">Races</th>
            <th class="ui center aligned">Incomplete</th>
        </tr>
    </thead>
    <tbody>
        {% for season in division.season_set.all %}
        <tr>
            <td><a href="{% url 'season' season.id %}">{{ season.name }}</a></td>
            {% with race_count=season.race_count %}
            <td class="ui center aligned">{{ race_count.total }}</td>
            <td class="ui center aligned">{{ race_count.incomplete }}</td>
            {% endwith %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
