{% extends 'standings/base.html' %}
{% load standings_extras humanize static %}

{% block content %}
<script src="{% static 'components/tab.min.js' %}"></script>
<script>
    $(document).ready(function() {
        $('.menu .item').tab();
    });
</script>

<h1>{{ driver.name }} <img src="{{ driver.country.flag }}" /></h1>
<div class="ui top attached tabular menu">
    <a class="item active" data-tab="qualifying">Qualifying Stats</a>
    <a class="item" data-tab="race">Race Stats</a>
    <a class="item" data-tab="seasons">Seasons</a>
</div>
<div class="ui bottom attached tab segment active" data-tab="qualifying">
    <table class="ui small selectable collapsing compact celled striped table">
        <tbody>
            <tr>
                <td class="ui right aligned"><strong>Positions</strong></td>
                <td>{{ stats.qualifying_positions }}</td>
            </tr>
            <tr>
                <td class="ui right aligned"><strong>Average</strong></td>
                <td>{{ stats.avg_qualifying }}</td>
            </tr>
            <tr>
                <td class="ui right aligned"><strong>Grid Penalties</strong></td>
                <td>{{ stats.qualifying_penalty_grid }}</td>
            </tr>
            <tr>
                <td class="ui right aligned"><strong>Back of Grid penalties</strong></td>
                <td>{{ stats.qualifying_penalty_bog }}</td>
            </tr>
            <tr>
                <td class="ui right aligned"><strong>Start From Pit penalties</strong></td>
                <td>{{ stats.qualifying_penalty_sfp }}</td>
            </tr>
            <tr>
                <td class="ui right aligned"><strong>Disqualifications</strong></td>
                <td>{{ stats.qualifying_penalty_dsq }}</td>
            </tr>
            <tr>
                <td class="ui right aligned"><strong>Pole Positions</strong></td>
                <td>{{ stats.pole_positions }}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="ui bottom attached tab segment" data-tab="race">
    <table class="ui small selectable collapsing compact celled striped table">
        <tbody>
            <tr>
                <td class="ui right aligned"><strong>Positions:</strong></td>
                <td>{{ stats.race_positions }}</td>
            </tr>
            <tr>
                <td class="ui right aligned"><strong>Average:</strong></td>
                <td>{{ stats.avg_race }}</td>
            </tr>
            <tr>
                <td class="ui right aligned"><strong>Best Finish:</strong></td>
                <td>{{ stats.best_finish|ordinal }}</td>
            </tr>
            <tr>
                <td class="ui right aligned"><strong>Fastest Laps:</strong></td>
                <td>{{ stats.fastest_laps }}</td>
            </tr>
            <tr>
                <td class="ui right aligned"><strong>Laps Completed:</strong></td>
                <td>{{ stats.laps_completed }}</td>
            </tr>
            <tr>
                <td class="ui right aligned"><strong>Laps Lead:</strong></td>
                <td>{{ stats.laps_lead }}</td>
            </tr>
            <tr>
                <td class="ui right aligned"><strong>Podiums:</strong></td>
                <td>{{ stats.podiums }}</td>
            </tr>
            <tr>
                <td class="ui right aligned"><strong>Points Finishes:</strong></td>
                <td>{{ stats.points_finishes }}</td>
            </tr>
            <tr>
                <td class="ui right aligned"><strong>Wins:</strong></td>
                <td>{{ stats.wins }}</td>
            </tr>
            <tr>
                <td class="ui right aligned"><strong>Attendance:</strong></td>
                <td>{{ stats.attendance }}</td>
            </tr>
            <tr>
                <td class="ui right aligned"><strong>Penalty Points:</strong></td>
                <td>{{ stats.penalty_points }}</td>
            </tr>
            <tr>
                <td class="ui right aligned"><strong>Time Penalties:</strong></td>
                <td>{{ stats.race_penalty_time }}</td>
            </tr>
            <tr>
                <td class="ui right aligned"><strong>Position Penalties:</strong></td>
                <td>{{ stats.race_penalty_positions }}</td>
            </tr>
            <tr>
                <td class="ui right aligned"><strong>Disqualifications:</strong></td>
                <td>{{ stats.race_penalty_dsq }}</td>
            </tr>
            <tr>
                <td class="ui right aligned"><strong>DNF Reasons:</strong></td>
                <td>{{ stats.dnf_reasons }}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="ui bottom attached tab segment" data-tab="seasons">
{% for _, season in seasons.items %}
{% include 'standings/breadcrumb.html' with object=season.season.breadcrumbs %}
<table class="ui small selectable collapsing compact celled table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Points</th>
            {% for race in season.season.race_set.all %}
            <th>{{ race.short_name }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for _, team in season.teams.items %}
        <tr>
            <td><a href="{% url 'team' team.team.id %}">{{ team.team.name }}</a></td>
            <td class="ui center aligned">{{ team.points|format_float }}</td>
            {% for race in season.season.race_set.all %}
                {% with result=team.results|find_result:race %}
            <td class="ui center aligned {{ result|get_css_classes:season.season }}"{% if result.has_notes %} data-tooltip="{{ result|collate_notes }}"{% endif %}>
                {{ result|get_position }}
                {% if result.has_notes %}<div class="note"></div>{% endif %}
            </td>
                {% endwith %}
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endfor %}
</div>
{% endblock %}
