{% extends 'standings/base.html' %}
{% load standings_extras humanize %}

{% block content %}
<h1>{{ driver.name }} <img src="{{ driver.country.flag }}" /></h1>
<h3>Qualifying Stats</h3>
<p><strong>Positions:</strong> {{ stats.qualifying_positions }}</p>
<p><strong>Average:</strong> {{ stats.avg_qualifying }}</p>
<p><strong>Grid Penalties:</strong> {{ stats.qualifying_penalty_grid }}</p>
<p><strong>Back of Grid penalties:</strong> {{ stats.qualifying_penalty_bog }}</p>
<p><strong>Start From Pit penalties:</strong> {{ stats.qualifying_penalty_sfp }}</p>
<p><strong>Disqualifications:</strong> {{ stats.qualifying_penalty_dsq }}</p>
<p><strong>Pole Positions:</strong> {{ stats.pole_positions }}</p>

<h3>Race Stats</h3>
<p><strong>Positions:</strong> {{ stats.race_positions }}</p>
<p><strong>Average:</strong> {{ stats.avg_race }}</p>
<p><strong>Best Finish:</strong> {{ stats.best_finish|ordinal }}</p>
<p><strong>Fastest Laps:</strong> {{ stats.fastest_laps }}</p>
<p><strong>Laps Completed:</strong> {{ stats.laps_completed }}</p>
<p><strong>Laps Lead:</strong> {{ stats.laps_lead }}</p>
<p><strong>Podiums:</strong> {{ stats.podiums }}</p>
<p><strong>Points Finishes:</strong> {{ stats.points_finishes }}</p>
<p><strong>Wins:</strong> {{ stats.wins }}</p>
<p><strong>Attendance:</strong> {{ stats.attendance }}</p>
<p><strong>Penalty Points:</strong> {{ stats.penalty_points }}</p>
<p><strong>Time Penalties:</strong> {{ stats.race_penalty_time }}</p>
<p><strong>Position Penalties:</strong> {{ stats.race_penalty_positions }}</p>
<p><strong>Disqualifications:</strong> {{ stats.race_penalty_dsq }}</p>
<p><strong>DNF Reasons:</strong> {{ stats.dnf_reasons }}</p>

<h3>Seasons</h3>
{% for _, season in seasons.items %}
{% include 'standings/breadcrumb.html' with object=season.season.breadcrumbs %}
<table class="ui small selectable collapsing compact celled table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Points</th>
            {% for race in season.season.race_set.all %}
            <th>{{ race.short_name }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for _, team in season.teams.items %}
        <tr>
            <td><a href="{% url 'team' team.team.id %}">{{ team.team.name }}</a></td>
            <td class="ui center aligned">{{ team.points|format_float }}</td>
            {% for race in season.season.race_set.all %}
                {% with result=team.results|find_result:race %}
            <td class="ui center aligned {{ result|get_css_classes:season.season }}"{% if result.has_notes %} data-tooltip="{{ result|collate_notes }}"{% endif %}>
                {{ result|get_position }}
                {% if result.has_notes %}<div class="note"></div>{% endif %}
            </td>
                {% endwith %}
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endfor %}
{% endblock %}
