{% extends 'standings/base.html' %}
{% load standings_extras static %}

{% block content %}
    <h3>{{ race.name }}</h3>
    <div>
        <div class="ui left floated">
            {% include 'standings/breadcrumb.html' with object=race.breadcrumbs %}
        </div>
        <div class="ui right floated">
            <a href="{% url 'track' race.track_id %}">Track records</a>
        </div>
    </div>
    <div class="ui top attached tabular menu">
        <a class="active item" data-tab="race">Race</a>
        <a class="item" data-tab="qualifying">Qualifying</a>
        <a class="item" data-tab="lap-chart">Lap Chart</a>
        <a class="item" data-tab="gap-chart">Gap Chart</a>
    </div>
    <div class="ui bottom attached active tab segment" data-tab="race">
        <table class="ui small selectable compact celled striped table">
            <thead>
            <tr>
                <th class="ui center aligned">Pos</th>
                <th class="ui center aligned">QPos</th>
                <th>Name</th>
                <th>Team</th>
                <th class="ui center aligned">Laps</th>
                <th class="ui center aligned">Time</th>
                <th class="ui center aligned">Gap</th>
                <th class="ui center aligned">DNF</th>
                <th class="ui center aligned">Fastest Lap</th>
                <th class="ui center aligned">Points</th>
                <th>Penalty</th>
            </tr>
            </thead>
            <tbody>
            {% for result in race.race_order.all %}
                <tr>
                    <td class="center aligned collapsing">{{ result.position }}</td>
                    <td class="center aligned collapsing">{{ result.qualifying }}</td>
                    <td><a href="{% url 'driver' result.driver.id %}">{{ result.driver.name }}</a></td>
                    <td><a href="{% url 'team' result.team.id %}">{{ result.team.name }}</a></td>
                    <td class="center aligned collapsing"><a
                            href="{% url 'laps' result.id %}">{{ result.race_laps }}</a></td>
                    <td class="right aligned collapsing">{{ result.race_time|format_time }}</td>
                    <td class="right aligned collapsing">{{ result.gap }}</td>
                    <td>{{ result.dnf_reason }}</td>
                    <td class="{% if result.fastest_lap %}fastest-lap-race{% endif %} collapsing">{{ result.race_fastest_lap|format_time }}</td>
                    <td class="center aligned collapsing">{{ result.points|format_float }}</td>
                    <td>{{ result.race_penalty_description }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="ui bottom attached tab segment" data-tab="qualifying">
        <table class="ui small selectable compact celled striped table">
            <thead>
            <tr>
                <th>Pos</th>
                <th>Name</th>
                <th>Team</th>
                <th>Laps</th>
                <th>Time</th>
                <th>Penalty</th>
            </tr>
            </thead>
            <tbody>
            {% for result in race.qualifying_order.all %}
                <tr>
                    <td class="center aligned">{{ result.qualifying }}</td>
                    <td><a href="{% url 'driver' result.driver.id %}">{{ result.driver.name }}</a></td>
                    <td><a href="{% url 'team' result.team.id %}">{{ result.team.name }}</a></td>
                    <td class="center aligned">{{ result.qualifying_laps }}</td>
                    <td class="right aligned">{{ result.qualifying_fastest_lap|format_time }}</td>
                    <td>{{ result.qualifying_penalty_description }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="ui bottom attached tab segment" data-tab="lap-chart">
        <form class="ui form">
            <div id="lap-chart" class="three fields">
                <div class="five wide field">
                    <select title="Add/Remove driver to/from chart" id="lap-driver-list" class="ui selection dropdown">
                        {% for id, driver in drivers.items %}
                            <option value="{{ id }}">{{ driver }}</option>{% endfor %}
                    </select>
                </div>
                <div class="one wide field">
                    <button class="ui button add-driver">Add</button>
                </div>
                <div class="one wide field">
                    <button class="ui button del-driver">Remove</button>
                </div>
            </div>
        </form>

        <script src="{% static 'components/tab.js' %}"></script>
        <script src="{% static 'chartjs.min.js' %}"></script>
        <script src="{% static 'charts.js' %}"></script>
        <canvas id="lap_chart"></canvas>
        <script>
            let lap_times = {{ lap_times }};
            let winner_laps = {{ winner_laps }};
            let gap_times = calculate_gaps();

            let lap_chart = new Chart(document.getElementById("lap_chart"), {
                "type": "line",
                "data": {
                    "labels": {{ labels }},
                    "datasets": []
                },
                "options": {
                    "tooltips": {
                        "mode": "x",
                        "itemSort": (a, b, data) => b.y - a.y,
                        "displayColors": true,
                        "callbacks": {
                            "title": function (tooltipItem, data) {
                                return "Lap " + tooltipItem[0].xLabel;
                            },
                            "label": function (tooltipItem, data) {
                                return convert_seconds_to_lap(tooltipItem.yLabel, true);
                            }
                        }
                    },
                    "scales": {
                        "yAxes": [{
                            "ticks": {
                                callback: function (value, index, values) {
                                    return convert_seconds_to_lap(value);
                                }
                            }
                        }]
                    }
                }
            });

            $('#lap-chart .add-driver').on('click', { chart: lap_chart, name: 'lap' }, add_driver);
            $('#lap-chart .del-driver').on('click', { chart: lap_chart, name: 'lap' }, remove_driver);

        </script>
    </div>
    <div class="ui bottom attached tab segment" data-tab="gap-chart">
        <form class="ui form">
            <div id="gap-chart" class="three fields">
                <div class="five wide field">
                    <select title="Add/Remove driver to/from chart" id="gap-driver-list" class="ui selection dropdown">
                        {% for id, driver in drivers.items %}
                            <option value="{{ id }}">{{ driver }}</option>{% endfor %}
                    </select>
                </div>
                <div class="one wide field">
                    <button class="ui button add-driver">Add</button>
                </div>
                <div class="one wide field">
                    <button class="ui button del-driver">Remove</button>
                </div>
            </div>
        </form>

        <canvas id="gap_chart"></canvas>
        <script>
            let gap_chart = new Chart(document.getElementById("gap_chart"), {
                "type": "line",
                "data": {
                    "labels": {{ labels }},
                    "datasets": []
                },
                "options": {
                    "tooltips": {
                        "mode": "x",
                        "itemSort": (a, b, data) => b.y - a.y,
                        "displayColors": true,
                        "callbacks": {
                            "title": function (tooltipItem, data) {
                                return "Lap " + tooltipItem[0].xLabel;
                            },
                            "label": function (tooltipItem, data) {
                                return convert_seconds_to_lap(tooltipItem.yLabel, true);
                            }
                        }
                    },
                    "scales": {
                        "yAxes": [{
                            "ticks": {
                                callback: function (value, index, values) {
                                    return convert_seconds_to_lap(value);
                                }
                            }
                        }]
                    }
                }
            });

            $('#gap-chart .add-driver').on('click', { chart: gap_chart, name: 'gap' }, add_driver);
            $('#gap-chart .del-driver').on('click', { chart: gap_chart, name: 'gap' }, remove_driver);

            $(document).ready(function() {
                $('.menu .item').tab();
            });
        </script>
    </div>

{% endblock %}
