{% extends 'standings/base.html' %}
{% load standings_extras %}

{% block content %}
<script>
    $(document).ready(function() {
        $('th div.tooltip').popup();
    });
</script>

{% include 'standings/breadcrumb.html' with object=season.breadcrumbs %}
<table class="ui small selectable collapsing compact celled unstackable table">
    <thead>
        <tr>
            <th>Pos</th>
            <th>Name</th>
            <th></th>
            <th>Points</th>
            {% for race in season.race_set.all %}
                <th class="ui center aligned"><div class='tooltip' data-html="{{ race.tooltip }}">
                    {{ race.round_number }}<br/>
                    <a href="{% url 'race' race.id %}">{{ race.short_name }}</a><br/>
                    <img src="{{ race.track.country.flag }}">
                </div></th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for driver in drivers %}
        <tr>
            <td class="ui center aligned">{{ driver.position }}</td>
            <td><a href="{% url 'driver' driver.driver.id %}">{{ driver.driver.name }}</a></td>
            <td><img src="{{ driver.driver.country.flag }}"></td>
            <td class="ui center aligned"{% if driver.season_penalty %} data-tooltip="{{ driver.season_penalty }}"{% endif %}>
                {{ driver.points|format_float }}
                {% if driver.season_penalty %}<div class="note"></div>{% endif %}
            </td>
            {% for race in season.race_set.all %}
                {% with result=driver.results|find_result:race %}
            <td class="ui center aligned {{ result|get_css_classes:season }}"{% if result.has_notes %} data-tooltip="{{ result|collate_notes }}"{% endif %}>
                {{ result|get_position }}
                {% if result.has_notes %}<div class="note"></div>{% endif %}
            </td>
                {% endwith %}
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% if not season.teams_disabled %}
<table class="ui small selectable collapsing compact celled unstackable table">
    <thead>
        <tr>
            <th>Pos</th>
            <th>Name</th>
            <th></th>
            <th>Points</th>
            {% for race in season.race_set.all %}
                <th class="ui center aligned"><a href="{% url 'race' race.id %}">{{ race.short_name }}</a></th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for team in teams %}
        <tr>
            <td class="ui center aligned">{{ team.position }}</td>
            <td class="team-{{ team.team.css_class }}"><a href="{% url 'team' team.team.id %}">{{ team.team.name }}</a></td>
            <td><img src="{{ team.team.country.flag }}"></td>
            <td class="ui center aligned"{% if team.season_penalty %} data-tooltip="{{ team.season_penalty }}"{% endif %}>
                {{ team.points|format_float }}
                {% if team.season_penalty %}<div class="note"></div>{% endif %}
            </td>
            {% for race in season.race_set.all %}
                {% with result=team.results|find_results:race %}
            <td class="ui center aligned">
                {{ result|get_points:season }}
            </td>
                {% endwith %}
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}
