{% extends 'standings/base.html' %}
{% load standings_extras %}

{% block content %}
<script>
    $(document).ready(function() {
        $('th div.tooltip').popup();

        $('#toggle_points_positions').on('click', function() {
            $('.toggle-pts-pos').each(function(){
                let old = $.trim($(this).text());
                $(this).text($(this).data('toggle-pts-pos').toString().replace(/\.0/, ''));
                $(this).data('toggle-pts-pos', old);
            });

            $(this).text($(this).text() === 'Show Points' ? 'Show Positions' : 'Show Points');
            return false;
        });

        $('#season_options').on('click', function() {
            $('#options_list').transition('toggle');
            return false;
        });
    });
</script>

<div style="display: inline-block;">
<div>
    <div class="ui left floated">
{% include 'standings/breadcrumb.html' with object=season.breadcrumbs %}
    </div>
    <div class="ui right floated" style="text-align: right">
        <a href="#" id="season_options">Options</a>
    </div>
</div>
<div class="ui list transition hidden" id="options_list" style="text-align: right; clear: both;">
    <div class="item"><a href="{% url 'season_stats' season.id %}">Season Stats</a></div>
    <div class="item"><a href="" id="toggle_points_positions">Show Points</a></div>
    <div class="item">Show Up To Round: {% for r in season.race_set.all %}<a href="?upto={{ r.round_number }}">{{ r.round_number }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</div>
</div>
<table class="ui small compact celled unstackable collapsing table" style="clear: both">
    <tbody>
        {% include "standings/point_system.html" with ps=point_systems.season is_season=True %}
        {% for ps in point_systems.races %}
            {% include "standings/point_system.html" with ps=ps is_season=False %}
        {% endfor %}
        <tr>
            <td><strong>Legend</strong></td>
            <td colspan="50">
                <strong>Bold = pole position</strong>,
                <em>Italic = fastest lap</em>,
                * = Classified, but did not finish<br/>&bull; = points are added to constructor total
            </td>
        </tr>
    </tbody>
</table>
<table class="ui small compact celled unstackable single line collapsing table">
    <thead>
        <tr>
            <th class="ui center aligned">Pos</th>
            <th>Name</th>
            <th class="ui center aligned"></th>
            <th class="ui center aligned">Points</th>
            <th class="ui center aligned">Gap</th>
            {% for race in season.race_set.all %}
                <th class="ui center aligned"><div class='tooltip' data-html="{{ race.tooltip }}">
                    {{ race.round_number }}<br/>
                    <a href="{% url 'race' race.id %}">{{ race.short_name }}</a><br/>
                    {{ race.track.country|show_flag }}
                </div></th>
            {% endfor %}
            <th class="ui center aligned best-column">Best</th>
        </tr>
    </thead>
    <tbody>
        {% for driver in drivers %}
        <tr>
            <td class="ui center aligned">{{ driver.position }}</td>
            <td><a href="{% url 'driver_slug' driver.driver.slug %}">{{ driver.driver.name }}</a></td>
            <td class="ui center aligned">{{ driver.driver.country|show_flag }}</td>
            <td class="driver-points ui center aligned"{% if driver.season_penalty %} data-tooltip="{{ driver.season_penalty }}"{% endif %}>
                {{ driver.points|format_float }}
                {% if driver.season_penalty %}<div class="note"></div>{% endif %}
            </td>
            <td class="driver-points-gap ui center aligned">
                {{ driver.gap.to_last_pos|format_float }}
                {% if driver.gap.to_leader != driver.gap.to_last_pos %} / {{ driver.gap.to_leader|format_float }}{% endif %}
            </td>
            {% for race in season.race_set.all %}
                {% with result=driver.results|find_result:race %}
            <td class="ui center aligned {{ result|get_css_classes:season }}"{% if result.has_notes %} data-tooltip="{{ result|collate_notes }}"{% endif %} title="{{ race.name }}">
                <span class="toggle-pts-pos" data-toggle-pts-pos="{{ result.points|munge_points }}">{{ result|get_position }}</span>
                {% if result.has_notes %}<div class="note"></div>{% endif %}
            </td>
                {% endwith %}
            {% endfor %}
            <td class="ui center aligned best-column {{ driver.best_result|get_css_classes:season }}">{{ driver.best_finish }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% if not season.teams_disabled %}
<table class="ui small compact celled structured single line collapsing table">
    <thead>
        <tr>
            <th class="ui center aligned">Pos</th>
            <th>Name</th>
            <th></th>
            <th class="ui center aligned">Points</th>
            <th class="ui center aligned">Gap</th>
            <th></th>
            {% for race in season.race_set.all %}
                <th class="ui center aligned"><div class='tooltip' data-html="{{ race.tooltip }}">
                    {{ race.round_number }}<br/>
                    <a href="{% url 'race' race.id %}">{{ race.short_name }}</a><br/>
                    {{ race.track.country|show_flag }}
                </div></th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for team in teams %}
            {% for driver in team.drivers %}
        <tr>
                {% if forloop.first %}
            <td class="ui center aligned" rowspan="{{ team.driver_count }}">{{ team.position }}</td>
            <td class="team-{{ team.team.css_class }}" rowspan="{{ team.driver_count }}"><a href="{% url 'team_slug' team.team.slug %}">{{ team.team.name }}</a></td>
            <td class="ui center aligned" rowspan="{{ team.driver_count }}">{{ team.team.country|show_flag }}</td>
            <td rowspan="{{ team.driver_count }}" class="ui center aligned"{% if team.season_penalty %} data-tooltip="{{ team.season_penalty }}"{% endif %}>
                {{ team.points|format_float }}
                {% if team.season_penalty %}<div class="note"></div>{% endif %}
            </td>
            <td rowspan="{{ team.driver_count }}" class="ui center aligned">
                {{ team.gap.to_last_pos|format_float }}
                {% if team.gap.to_leader != team.gap.to_last_pos %} / {{ team.gap.to_leader|format_float }}{% endif %}
            </td>
                {% endif %}
            <td class="team-driver-position">{{ driver.driver.name }}</td>
            {% for race in season.race_set.all %}
                {% with result=team.results|find_results:race|find_driver:driver.driver %}
            <td class="ui center aligned {{ result|get_css_classes:season }} team-driver-position">
                {{ result|get_position }} {{ result|show_bullet:season }}
            </td>
                {% endwith %}
            {% endfor %}
        </tr>
                {% endfor %}
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}
