{% extends 'standings/base.html' %}

{% block content %}
<script>
    $(document).ready(function() {
        ts = $('table').tablesort({
            default_direction: 'desc'
        });
        $('thead th.number').data('sortBy', function (th, td, tablesort) {
            return parseInt(td.text());
        });
        $('th span.tooltip').popup();
    });
</script>

<h1>Season Stats</h1>
{% include 'standings/breadcrumb.html' with object=season.breadcrumbs %}

<table class="ui sortable small compact celled table">
    <thead>
        <tr>
            <th class="ui">Driver</th>
            <th class="ui center aligned number"><span class='tooltip' data-html="Attendance">Att</span></th>
            <th class="ui center aligned number sorted descending">Wins</th>
            <th class="ui center aligned number"><span class='tooltip' data-html="Points Finishes">Pts Fins</span></th>
            <th class="ui center aligned number">Podiums</th>
            <th class="ui center aligned number">Poles</th>
            <th class="ui center aligned number">Fast Laps</th>
            <th class="ui center aligned number">Laps Led</th>
            <th class="ui center aligned number"><span class='tooltip' data-html="Laps Completed">Completed</span></th>
            <th class="ui center aligned number"><span class='tooltip' data-html="Best finish">Best</span></th>
            <th class="ui center aligned number"><span class='tooltip' data-html="Penalty Points">PPoints</span></th>
            <th class="ui center aligned number"><span class='tooltip' data-html="Race Time Penalties">RTime</span></th>
            <th class="ui center aligned number"><span class='tooltip' data-html="Race Position Penalties">RPOS</span></th>
            <th class="ui center aligned number"><span class='tooltip' data-html="Race Disqualifications">RDSQ</span></th>
            <th class="ui center aligned number"><span class='tooltip' data-html="Qualifying Grid Penalties">QGrid</span></th>
            <th class="ui center aligned number"><span class='tooltip' data-html="Back of Grid Penalties">BoG</span></th>
            <th class="ui center aligned number"><span class='tooltip' data-html="Start from Pits Penalties">SfP</span></th>
            <th class="ui center aligned number"><span class='tooltip' data-html="Qualifying Disqualifications">QDSQ</span></th>
            <th class="ui center aligned">Season Winner</th>
        </tr>
    </thead>
    <tbody>
        {% for stat in stats.all %}
            {% with best_finish=stat.best_result.position %}
        <tr>
            <td><a href="{% url 'driver_slug' stat.driver.slug %}">{{ stat.driver.name }}</a></td>
            <td class="ui center aligned collapsing">{{ stat.attendance }}</td>
            <td class="ui center aligned collapsing">{{ stat.wins }}</td>
            <td class="ui center aligned collapsing">{{ stat.points_finishes }}</td>
            <td class="ui center aligned collapsing">{{ stat.podiums }}</td>
            <td class="ui center aligned collapsing">{{ stat.pole_positions }}</td>
            <td class="ui center aligned collapsing">{{ stat.fastest_laps }}</td>
            <td class="ui center aligned collapsing">{{ stat.laps_lead }}</td>
            <td class="ui center aligned collapsing">{{ stat.laps_completed }}</td>
            <td class="ui center aligned collapsing">{{ best_finish }}</td>
            <td class="ui center aligned collapsing">{{ stat.penalty_points }}</td>
            <td class="ui center aligned collapsing">{{ stat.race_penalty_time }}</td>
            <td class="ui center aligned collapsing">{{ stat.race_penalty_positions }}</td>
            <td class="ui center aligned collapsing">{{ stat.race_penalty_dsq }}</td>
            <td class="ui center aligned collapsing">{{ stat.qualifying_penalty_grid }}</td>
            <td class="ui center aligned collapsing">{{ stat.qualifying_penalty_bog }}</td>
            <td class="ui center aligned collapsing">{{ stat.qualifying_penalty_sfp }}</td>
            <td class="ui center aligned collapsing">{{ stat.qualifying_penalty_dsq }}</td>
            <td class="ui center aligned collapsing">{{ stat.winner }}</td>
        </tr>
            {% endwith %}
        {% endfor %}
    </tbody>
</table>
{% endblock %}
