.pos-default {
    background-color: rgb(255, 255, 255);
}

.pos-yellow {
    background-color: rgb(255, 255, 191);
}

.pos-gray {
    background-color: rgb(223, 223, 223);
}

.pos-orange {
    background-color: rgb(255, 223, 191);
}

.pos-green {
    background-color: rgb(223, 255, 223);
}

.pos-blue {
    background-color: rgb(207, 207, 255);
}

.pos-retired {
    background-color: rgb(239, 207, 255);
}

.pos-black {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

.fastest-lap {
    font-style: italic;
}

.fastest-lap-race {
    color: purple;
    font-weight: bold;
}

.pole-position {
    font-weight: bold;
}

.note {
    width: 0;
    height: 0;
    border-top: 10px solid rgb(0, 0, 0);
    border-left: 10px solid transparent;
    top: 0;
    right: 1px;
    position: absolute;
}

.pos-black div.note {
    border-top-color: rgb(255, 255, 255);
}

.fsr-header {
    padding: 10px;
    background-color: #242728 !important;
}

.team-driver-position {
    font-size: 10px;
    padding: 1px 7px !important;
}

div [class*="left floated"] {
    float: left;
    margin-left: 0.25em;
    margin-bottom: 0.25em;
}

div [class*="right floated"] {
    float: right;
    margin-right: 0.25em;
    margin-bottom: 0.25em;
}

.ui.structured.celled.table tr td {
    border-right: none !important;
}

.flex-column {
    flex-direction: column;
    display: flex;
}

.flex-column-table {
    flex-grow: 1;
}

.subtable tr:not(:first-child) td {
    border-top: 1px solid rgba(34,36,38,.1) !important;
}

.tyre-container {
    display:inline-block;
    position: relative;
}

.tyre-text {
    font-size: 0.9em;
    position: absolute;
    top: 2px;
    color: white;
    width: 100%;
    text-align: center;
}

.forums {
    text-align:center;
    background-color: lightgrey;
    padding: 4px;
    margin: 0 0 10px 0;
}

.forums a {
    font-weight: bold;
    font-size: larger;
}

.tyre-wear-line {
    border: 1px solid #999;
    margin: 0 4px;
}

.team-ferrari {
    color: white;
    background-color: rgb(224, 8, 29);
}

.team-red-bull {
    color: rgb(237, 24, 70);
    background-color: rgb(1, 27, 76);
}

.team-toro-rosso {
    color: rgb(225, 0, 0);
    background-color: rgb(0, 0, 185);
}

.team-mclaren {
    color: white;
    background-color: rgb(217, 88, 26);
}

.team-williams {
    color: rgb(6, 29, 65);
    background-color: white;
}

.team-sauber {
    color: white;
    background-color: rgb(34, 58, 122);
}

.team-haas {
    color: rgb(237, 26, 59);
    background-color: rgb(70, 74, 76);
}

.team-renault {
    color: black;
    background-color: rgb(255, 213, 0);
}

.team-force-india {
    color: rgb(209, 28, 103);
    background-color: rgb(247, 174, 193);
}

.team-mercedes {
    color: rgb(0, 162, 147);
    background-color: lightgray;
}
